@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');

body {
    padding: 0;
    margin: 0;
    background-color: #17141d;
    color: white;
    font-family: 'DM Mono', monospace;
}

.lista-times {
    display: flex;
    padding: 3rem;
    overflow-x: scroll;
}


.lista-times::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.lista-times::-webkit-scrollbar-thumb {
    background: #201c29;
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.25);
}

.lista-times::-webkit-scrollbar-track {
    background: linear-gradient(90deg,#201c29,#201c29 1px,#17141d 0,#17141d);
}

.time {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 730px;
    width: 730px;
    min-width: 250px;
    padding: 1.5rem;
}

.time {
    border-radius: 16px;
    background: #17141d;
    box-shadow: -1rem 0 3rem #000;

    transition: .2s;
}

.time:hover {
    transform: translateY(-1rem);
}

.time:hover~.time {
    transform: translateX(130px);
}


.time:not(:first-child) {
    margin-left: -130px;
}

.cbc {
    margin-bottom: auto;
}

.cbc p {
    font-size: 14px;
    margin: 0 0 1rem;
    color: #7a7a8c;
}

.cbc h2 {
    font-size: 20px;
    margin: .25rem 0 auto;
    cursor: pointer;
}

.cbc h2:hover {
    background: linear-gradient(90deg,#ff8a00,#e52e71);
    text-shadow: none;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.estadio img {
    position: relative;
    border-radius: 10px;
    right: 10%;
}

.estadio p {
    font-size: 20px;
    margin: .25rem 0 auto;
    cursor: pointer;
}

.estadio p:hover {
    background: linear-gradient(90deg,#ff8a00,#e52e71);
    text-shadow: none;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.time-atr {
    position: relative;
    display: grid;
    grid-template-columns: 75px 1fr;
    align-items: center;
    margin: 3rem 0 0;
}

.avatar img {
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 16px 10px;
    bottom: 645px;
    left: 95px;
    overflow: hidden;
}

.tags {
    margin: 1rem 0 2rem;
    padding: .5rem 0 1rem;
    line-height: 2;
    margin-bottom: 0;
}

.tags a {
    font-style: normal;
    font-weight: 700;
    font-size: .5rem;
    color: #7a7a8c;
    text-transform: uppercase;
    font-size: .66rem;
    border: 3px solid #28242f;
    border-radius: 2rem;
    padding: .2rem .85rem .25rem;
    position: relative;
}

.tags a:hover {
    background: linear-gradient(90deg,#ff8a00,#e52e71);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    border-color: white;
}

.local {
    color: white;
}

.nome-do-local {
    color: #7a7a8c;
}
